{# add table configuration in static/js/datatable_config.js #}
{%macro datatable(id, data)%}
<div>
    <table id="table_{{id}}" width="100%">
    </table>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/datatable_config.js') }}"></script>
<script type="text/javascript" >
    {
        let config = window.datatable_config['{{id}}']
        let data = {{data|tojson|safe}}
        console.log("load", '{{id}}', data)
        let createdRowCallback = window.datatable_created_row['{{id}}']
        let order = window.datatable_order['{{id}}']

        $("#table_{{id}}").DataTable({
            data:data,
            columns: config,
            createdRow: createdRowCallback,
            order: order,
            drawCallback: () => {
                $("img").Lazy()
            }
        })
    }
    
</script>

{%endmacro%}