{% extends "base.html" %}

{% block content %}

<div class="container">
  <br/>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Modify Inventory: <a href="/product/{{inven_iid.pid}}">{{inven_iid.name}} </a></h4>
      <div class="card-text">
        <form action="" method="post" enctype="multipart/form-data">
          {{ form.hidden_tag() }}
          <div>
            {{ form.quantity.label }}
            {{ form.quantity(class="form-control") }}<br />
            {% for error in form.quantity.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            {{ form.price.label }}
            {{ form.price(class="form-control") }}<br />
            {% for error in form.price.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>
          <p>{{ form.submit(class="btn btn-primary") }}</p>
        </form>
      </div>
    </div>
  </div>




</div>



{% endblock %}
