{% extends "base.html" %}

{% block content %}
<div class="container">

  <br/>

  <div class="card">
    <img class="card-img-top" src="holder.js/100x180/" alt="">
    <div class="card-body">
      <h4 class="card-title">Add to My Inventory</h4>
      <div>

<form action="" method="post" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <p>
    <br />
    {{ form.name.label }}
    {{ form.name(size=64, class="form-control") }}<br/>
    {% for error in form.name.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    <br />
    {{ form.quantity.label }}
    {{ form.quantity(size=64, class="form-control") }}<br/>
    {% for error in form.quantity.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    <br />
    {{ form.price.label }}
    {{ form.price(size=64, class="form-control") }}<br/>
    {% for error in form.price.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    <br />
  <p>{{ form.add(class="btn btn-success") }}</p>
</form>

</div>
</div>
</div>
</div>
{% endblock %}
