{% extends "base.html" %} {% block content %}

<div class="container">
  <br />

  <div class="flex">

  <div class="card" style="flex-grow: 1;">
    <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
    <div class="card-body">
      <h4 class="card-title">Account</h4>
      <ul>
        <li>Email: {{ user.email }}</li>
        <li>First Name: {{ user.firstname }}</li>
        <li>Last Name: {{ user.lastname }}</li>
        <li>Sell Address: {{ user.sell_address }}</li>
        <li>Balance: ${{user.balance}}</li>
      </ul>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseDeposit"
        aria-expanded="false" aria-controls="collapseDeposit">
        Deposit
      </button>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseWithdrawn"
        aria-expanded="false" aria-controls="collapseWithdrawn">
        Withdrawn
      </button>
      <a href="/user_edit" class="btn btn-primary">Edit Profile</a>
      <a href="/transaction" class="btn btn-primary">Transactions</a>
      <a class="btn btn-primary" href="/user/chat" role="button">View Messages</a>

      <div id="balanceCollapseGroup" class="mt-1">
        <div class="collapse" id="collapseDeposit" data-parent="#balanceCollapseGroup">
          <div class="card card-body">
            <div class="form-group">
              <label for="amount">Amount deposit</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">$</div>
                </div>
                <input type="number" required name="deposit" class="form-control" min="0" value="0" step=".01"
                  id="deposit-input" />
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-10">
                <button id="deposit-submit" class="btn btn-primary">Deposit</button>
              </div>
              <script>
                $('#deposit-submit').on('click', (event) => {
                  let amount = $('#deposit-input').val()
                  if (Number(amount) == NaN) {
                    alert(`${amount} is not a valid amount of money.`)
                    return
                  }
                  $.post("/balance/deposit", { amount: Number(amount) }, (data) => {
                    if (data.status != "success") {
                      alert('error: ' + data.msg)
                      return
                    }
                    location.reload()
                  })
                })
              </script>
            </div>
          </div>
        </div>
        <div class="collapse" id="collapseWithdrawn" data-parent="#balanceCollapseGroup">
          <div class="card card-body">
            <div class="form-group">
              <label for="amount">Amount Withdrawn:</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">$</div>
                </div>
                <input type="number" required name="deposit" class="form-control" min="0" value="0" step=".01"
                  id="withdrawn-input" />
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-10">
                <button id="withdrawn-submit" class="btn btn-primary">Withdrawn</button>
              </div>
              <script>
                $('#withdrawn-submit').on('click', (event) => {
                  let amount = $('#withdrawn-input').val()
                  if (Number(amount) == NaN) {
                    alert(`${amount} is not a valid amount of money.`)
                    return
                  }
                  $.post("/balance/withdrawn", { amount: Number(amount) }, (data) => {
                    if (data.status != "success") {
                      alert('error: ' + data.msg)
                      return
                    }
                    location.reload()
                  })
                })
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card ml-3" style="flex-grow: 1;">
    <div class="card-body">
      <h4 class="card-title">Seller Management</h4>
      <div>
        <a class="btn btn-primary" href="/my_inventory" role="button">My Inventories</a>
        <a class="btn btn-primary" href="/orders" role="button">My Orders</a>
        <div style="height: 0.5em;"></div>
        <a class="btn btn-primary" href="/addInventory" role="button">Add Inventory</a>
        <a class="btn btn-primary" href="/sell" role="button">Sell New Product</a>
        <div style="height: 0.5em;"></div>
        <a class="btn btn-primary" href="/co_worker" role="button">Buyer Analytics</a>
        <a class="btn btn-primary" href="/visual_ana" role="button">Inventory Analytics</a>
      </div>
      
    </div>

  </div>

  </div>
  <br />

  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Summary</h4>
      <div class="card-text flex">
        <div style="width:33%">
          <div id="purchase-category-chart" style="width: 100%; height: 15em;"></div>
          <script src="{{url_for('static', filename='js/purchase_category_chart.js')}}"></script>
        </div>
        <div style="width:33%">
          <div id="balance-chart" style="width: 100%; height: 15em;"></div>
          <script src="{{url_for('static', filename='js/balance_chart.js')}}"></script>
        </div>
        <div style="width:33%">
          <div id="spending-summary-chart" style="width: 100%; height: 15em;"></div>
          <script src="{{url_for('static', filename='js/spending_summary_chart.js')}}"></script>
        </div>
        
      </div>
    </div>
  </div>

  <br/>

  <div class="card">
    <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
    <div class="card-body">
      <h4 class="card-title">Recent Purchases</h4>
      <div class="card-text">
        {%import 'datatable.html' as t%}
        {{t.datatable("recent-purchase", purchase_obj_list)}}
      </div>
    </div>
  </div>
  
  <br />
  <div class="card">
    <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
    <div class="card-body">
      <h4 class="card-title">My Reviews(For Product)</h4>
      <div class="card-text">
        {%import 'datatable.html' as t%}
        {{t.datatable("reviews-for-product", product_review_obj_list)}}
      </div>
    </div>
  </div>

  <br />
  <div class="card">
    <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
    <div class="card-body">
      <h4 class="card-title">My Reviews(For Seller)</h4>
      <div class="card-text">
        {%import 'datatable.html' as t%}
        {{t.datatable("reviews-for-seller", seller_review_obj_list)}}
      </div>
    </div>
  </div>
</div>
</div>



{% endblock %}