{% extends "base.html" %} {% block content %}
<div class="container">
    <br />

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Order <span class="text-secondary">#{{order.id}}</span></h4>
            <div class="card-text">
                <ul class="list-unstyled">
                    <li>User: <a href="/user/{{order.user.id}}">{{order.user.firstname}} {{order.user.lastname}}</a> </li>
                    <li>Order Date: {{order.create_at}}</li>
                    <li>Shipping Address: {{order.address}}</li>
                    <li>Tel: {{order.tel}}</li>
                </ul>
            </div>
        </div>
    </div>
    <br/>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Items</h4>
            <div>
                {%import 'datatable.html' as t%}
                {{t.datatable("order-purchase", purchase_obj_list)}}
            </div>
            <div class="text-right">
                Total: $WIP
            </div>
        </div>
    </div>

    

</div>


{% endblock %}