{% extends "base.html" %} {% block content %}

<div class="container">
  <br />
  <div class="card">
    <div class="card-body flex">
      <div class="mr-2">
        <img src="/img/product_{{product.id}}.jpg" alt="{{product.id}}" />
      </div>
      <div>
        <h4 class="card-title">
          <span class="text-secondary" style="font-size: 0.7em;">#{{product.id}}</span>
          <span class="badge badge-secondary">{{product.category}}</span>
          {{product.name}}
        </h4>
        <div class="card-text">
          {{product.description}}

        </div>
        <br />
        <div class="card-text">
          Total Sales: {{total_sales}}
        </div>
        <br />
        <div class="card-text">
          {% if has_summary %}
          Average Review Rate:
          {% for i in range(summary_review[2]) %}
          <i class="bi bi-star-fill"></i>
          {% endfor %}
          {% if has_half %}
          <i class="bi bi-star-half"></i>
          {% for i in range(5-summary_review[2]-1) %}
          <i class="bi bi-star"></i>
          {% endfor %}
          {% else %}
          {% for i in range(5-summary_review[2]) %}
          <i class="bi bi-star"></i>
          {% endfor %}
          {% endif %}
          <span class="ml-2">{{"%.2f"|format(summary_review[0])}}/5.00</span>
          {% else %}
          Average Review Rate: Unknown
          {% endif %}
        </div>
        <br />
        <div style = "text-align:right;">
        <a class="btn btn-primary" href="/addInventory/{{product.id}}" role="button">Add to My Inventory</a>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
        </div>
      </div>
    </div>
  </div>

  <br />
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Seller List</h4>
      <div class="card-text">
        {%import 'datatable.html' as t%}
        {{t.datatable("seller-table", seller_obj_list)}}
      </div>
    </div>
  </div>
  {% if has_bought %}
  {% if has_review %}
  <br />
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">My Review</h4>
      <div class="card-text">
        <div class="container">
          <div class="row">
            <p><strong>Review</strong>: {{review[2]}}</p>
          </div>
          <div class="row">
            <p><strong>Rate</strong>:
              {% for i in range(review[1]) %}
              <i class="bi bi-star-fill"></i>
              {% endfor %}
              {% for i in range(5-review[1]) %}
              <i class="bi bi-star"></i>
              {% endfor %}
            </p>
          </div>
          <div class="row">
            <p><strong>Images</strong>:
              <img data-src="/img/review_{{review[0]}}_0.jpg" style="height: 5em; width:5em;">
              <img data-src="/img/review_{{review[0]}}_1.jpg" style="height: 5em; width:5em;">
              <img data-src="/img/review_{{review[0]}}_2.jpg" style="height: 5em; width:5em;">
            </p>
          </div>
          <div class="row">
            <div class="col">
              <a href="/review/product/edit?pid={{product.id}}&redirect=product">Edit Your Review</a>
            </div>
            <div class="col">
              <a href="/review/product/remove?pid={{product.id}}&redirect=product">Remove Your Review</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <br />
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">My Review</h4>
      <div class="card-text">
        <a href="/review/product/submit?pid={{product.id}}&redirect=product">Submit Your Review</a>
      </div>
    </div>
  </div>
  {% endif %}
  {% endif %}
  <br />
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Reviews</h4>
      <div class="card-text">
        {% if has_summary %}
        <div class="container">
          <div class="row">
            <div class="col">
              <p><strong>Total Review Amount</strong>: {{summary_review[1]}}</p>
            </div>
            <div class="col">
              <p><strong>Average Review Rate</strong>:
                {% for i in range(summary_review[2]) %}
                <i class="bi bi-star-fill"></i>
                {% endfor %}
                {% if has_half %}
                <i class="bi bi-star-half"></i>
                {% for i in range(5-summary_review[2]-1) %}
                <i class="bi bi-star"></i>
                {% endfor %}
                {% else %}
                {% for i in range(5-summary_review[2]) %}
                <i class="bi bi-star"></i>
                {% endfor %}
                {% endif %}
                <span class="ml-2">{{"%.2f"|format(summary_review[0])}}/5.00</span>
              </p>
            </div>
          </div>
        </div>
        {% else %}
        <div class="container">
          <div class="row">
            <div class="col">
              <p><strong>Total Review Amount</strong>: 0</p>
            </div>
            <div class="col">
              <p><strong>Average Review Rate</strong>: Unknown</p>
            </div>
          </div>
          {% endif %}
          <br />
          <div class="card-text">
            {%import 'datatable.html' as t%}
            {{t.datatable("product-detail-review", review_obj_list)}}
          </div>
        </div>
      </div>
    </div>
    <br />
    </table>


  </div>

  {% endblock %}