{% extends "base.html" %}

{% block content %}

<div class="container">
  <br/>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Register</h4>
      <div class="card-text">

        <form action="" method="post">
          {{ form.hidden_tag() }}
          <p>
            {{ form.firstname.label }}<br />
            {{ form.firstname(class="form-control") }}<br />
            {% for error in form.firstname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>
            {{ form.lastname.label }}<br />
            {{ form.lastname(class="form-control") }}<br />
            {% for error in form.lastname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>
            {{ form.email.label }} (Could be fake email address)<br />
            {{ form.email(class="form-control") }}<br />
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>
            {{ form.password.label }}<br />
            {{ form.password(class="form-control") }}<br />
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>
            {{ form.password2.label }}<br />
            {{ form.password2(class="form-control") }}<br />
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </p>
          <p>{{ form.submit(class="btn btn-primary") }}</p>
        </form>
      </div>
    </div>
  </div>


</div>




{% endblock %}