{% extends "base.html" %}

{% block content %}

<div class="container">
  <br/>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Submit Review</h4>
      <div>



      
<form action="" method="post" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <p>
    {{ form.rate.label }}
    {{ form.rate(class="form-control") }}<br/>
    {% for error in form.rate.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.review.label }}
    {{ form.review(class="form-control ") }}<br/>
    {% for error in form.review.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.image0.label }}<br/>
    {{ form.image0 }}<br/>
    {% for error in form.image0.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    <br/>
    {{ form.image1 }}<br/>
    {% for error in form.image1.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    <br/>
    {{ form.image2 }}<br/>
    {% for error in form.image2.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit(class="btn btn-primary") }}</p>
</form>

</div>
</div>
</div>
</div>

{% endblock %}