{% extends "base.html" %} {% block content %}

<div class="container">
    <br/>
    <div class="card">
        <div class="card-body">
            <form action="/search" method="get">
                <div class="form-group">
                    
                    <label class="mr-2">Search for products:</label>
                    <div class="input-group">
                        <select name="c" class="form-control bg-light" style="max-width: 8em;" value="{{category}}">
                            <option value="All">All</option>
                            {% for item in categories %}
                            <option value="{{item}}" {{'selected' if category==item else ''}}>{{item}}</option>
                            {% endfor %}
                        <input name="q" class="form-control" id="search_input"  placeholder="Keyword" value="{{query}}">
                        <span class="input-group-btn"><button type="submit" class="btn btn-success mr-2 ml-2">Search</button></span>

                    </div>
                    
                </div>
            </form>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

        </div>
    </div>
    {% if has_result %}
        <br/>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Products</h4>
            <div class="card-text">
                {%import 'datatable.html' as t%}
                {{t.datatable("product-search-list", product_obj_list)}}
            </div>
        </div>
    </div>

    {% endif %}
    





</div>
{% endblock %}