{% extends "base.html" %}

{% block content %}

<h1 align="center">Create product</h1>
<form action="" method="post" align="center" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <p>
    {{ form.product_name.label }}
    {{ form.product_name(size=32) }}<br/>
    {% for error in form.product_name.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.category.label }}
    {{ form.category(size=32) }}<br/>
    {% for error in form.category.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.quantity.label }}
    {{ form.quantity(size=32) }}<br/>
    {% for error in form.quantity.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.price.label }}
    {{ form.price(size=32) }}<br/>
    {% for error in form.price.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.description.label }}
    {{ form.description(size=64) }}<br/>
    {% for error in form.description.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.image.label }}
    {{ form.image }}<br/>
    {% for error in form.image.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>{{ form.submit() }}</p>
</form>

{% endblock %}
